{{define "title"}}Send{{end}}
{{define "scripts"}}{{end}}
{{define "body"}}
  <h2 class="my-3">Send me a message</h2>
  <div>
    <form action="/send" method="post">
      <div class="form-group mb-3">
        <label class="mb-1" for="message">Message:</label>
        <textarea class="form-control" rows="5" name="message" placeholder="Type your text here">
        </textarea>
      </div>
      <div class="form-group mb-3">
        <label class="mb-1" for="author">From:</label>
        <input type="text" class="form-control" name="author" placeholder="Name yourself, please">
      </div>
      <input type="submit" value="Send" class="btn btn-primary">
    </form>
  </div>
{{end}}